.vs
packages
Controlador/obj
Controlador/bin
Entidades/obj
Entidades/bin
Negocio/obj
Negocio/bin
Persistencia/obj
Persistencia/bin
Apresentacao/e2e
Apresentacao/.vscode
Apresentacao/node_modules
Apresentacao/package-lock\.json

Entidades/App\.config

Entidades/Arrecadacao\.Designer\.cs


Apresentacao/dist/

Controlador/remessa/

Apresentacao/src/assets/theme/\.sass-cache/

Controlador/App_Data/
