<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AcaoLogin" version="1.0.3" targetFramework="net461" />
  <package id="Auditoria" version="1.0.6" targetFramework="net461" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="JWT" version="3.1.1" targetFramework="net461" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net461" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net461" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="Ninject" version="3.3.4" targetFramework="net461" />
  <package id="RabbitMQ.Client" version="5.0.1" targetFramework="net461" />
  <package id="Z.EntityFramework.Plus.EF6" version="1.7.15" targetFramework="net461" />
</packages>