<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AcaoLogin" version="1.0.3" targetFramework="net461" />
  <package id="AD.System.Web.Helpers.dll" version="2.0.0" targetFramework="net461" />
  <package id="Auditoria" version="1.0.6" targetFramework="net461" />
  <package id="Autenticacao" version="1.0.22.2" targetFramework="net461" />
  <package id="AutoMapper" version="6.2.2" targetFramework="net461" />
  <package id="BCrypt.Net" version="0.1.0" targetFramework="net461" />
  <package id="Boleto.Net" version="2.1.0.703" targetFramework="net461" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="GerenciarDependencias" version="1.0.4" targetFramework="net461" />
  <package id="iTextSharp" version="5.5.13" targetFramework="net461" />
  <package id="JWT" version="3.1.1" targetFramework="net461" />
  <package id="Microsoft.AspNet.Cors" version="5.2.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.Razor" version="3.2.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.2.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.6" targetFramework="net461" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net461" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net461" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net461" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net461" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.WebForms" version="150.900.148" targetFramework="net461" />
  <package id="Microsoft.SqlServer.Types" version="14.0.314.76" targetFramework="net461" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="Ninject" version="3.3.4" targetFramework="net461" />
  <package id="NLog" version="4.4.13" targetFramework="net461" />
  <package id="NLog.Config" version="4.4.13" targetFramework="net461" />
  <package id="NLog.Schema" version="4.4.13" targetFramework="net461" />
  <package id="NReco.PdfGenerator" version="1.1.15" targetFramework="net461" />
  <package id="RabbitMQ.Client" version="5.0.1" targetFramework="net461" />
  <package id="System.IO.Compression.ZipFile" version="4.3.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="Z.EntityFramework.Plus.EF6" version="1.7.15" targetFramework="net461" />
</packages>